<div id="greetings" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header text-center d-block">
          <p id="greeting" class="modal-title">AdBlocker Detected!</p>
        </div>
        <div class="modal-body text-center d-block">
         <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x site-block"></i>
            <i class="fa fa-hand-paper-o fa-stack-1x fa-inverse" ></i>
          </span>
          <p class="modal-title" id="greeting-body">Please white-list AshaTutorials in Adblocker</p>
          <hr/>
        <p class="modal-title" id="exampleModalLongTitle">Already white-listed?</p>
        <button type="button" class="btn btn-primary center-block" onclick="location.reload();">Reload</button>
        </div>
      </div>
    </div>
</div>